@{
    ViewBag.Title = "About GeekWear.London";
}
<h3>Hello and welcome to GeekWear.London</h3>

<p>
    We are proud to present a new, unique and revolutionary way of design that allows you to create your own wearables with the smartness to decode for others to see what your message says in plain text (via our App (available on Playstore) for smartphones or tablets that have a camera and is connected to the internet
</p>
<p>
    Here is how it works….
</p>
<p>
    You can either create your own one off custom designs via the link above (or choose one of our static designs), as you type, your T-Shirt is then automatically given a QR code dedicated to you, after you checkout we then print, package and send directly to your address (all from the UK)
</p>

<p>
    Now here is the clever bit…Simply download the GeekWear App, open the module, point the camera at the QR code and there is your message in plain text for all to read – How simple is that?
</p>
<p>
    Have a play and see what 'secret' messages you can think of
</p>
<p>
    Thank you, and most of all Enjoy!
</p>
<p>
    The Geekwear Team
</p>
